$primary: #31603F;
$secondary: #a43f64;
$font-family: 'Nunito', sans-serif;



//arquivos bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

.nav-link {
    color: #f0f8ff;
    padding: 0 50px;

}


.btn-secondary {
    padding: 10px 20px;
    border-radius: 30px;
}

.titulo__carousel {
    font-family: 'Nunito';
    font-weight: bold;
}

.card-img-top {
    margin-left: -20px;
}

.card__body {
    padding: 10px;
}

.card {
    border: none;
    border-radius: 60px;
}

h6, .h6 {
    font-size: 14px; 
}

h5, .h5 {
    font-size: 16px;
}