$primary: #31603F;
$secondary: #a43f64;
$font-family: 'Nunito', sans-serif;



//arquivos bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

.nav-link {
    color: #f0f8ff;
    padding: 0 50px;

}


.btn-secondary {
    padding: 10px 20px;
    border-radius: 30px;
}

.titulo__carousel {
    font-family: 'Nunito';
    font-weight: bold;
}

.card-img-top{
    width: 60%;
}

.card__body {
    padding: 10px;
}

.card {
    border-radius: 50px;
    border: none;
    width: 400px;
    height: 180px;
    margin-top: 50px;
}

.card__title {
    font-size: 1.2rem;
    color: #183721;
}