/* Estilos base para todos os tamanhos de tela */
.card-container {
    display: flex;
    justify-content: center;
    background-color: #ececec;
}

.carousel-indicators [data-bs-target] {
    display: none;
}


.card {
    background-color: white;
    overflow: visible;
    margin: 0 30px;
    width: 250px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card__content {
    display: flex;
    align-items: center;
    margin: 30px 30px;
    justify-content: space-around;
    width: 175px;
    height: 100px;
}

.card__image {
    border-radius: 20px;
    margin-right: -20px;
    margin-top: -70px;
    z-index: 1;
}

.card__body {
    flex: 1;
    padding: 50px;
    position: relative;
    z-index: 2;
}

.card__title {
    font-size: 1.2rem;
    margin-left: 15px;
    color: #31603F;
    font-family: 'Nunito';
}

.card__subtitle {
    margin-left: 15px;
    font-size: 1rem;
    text-align: center;
}

/* Media queries */
@media (max-width: 575.98px) {

    /* Estilos para dispositivos menores que 575.98px (extra small) */
    .card {
        border-radius: 30px;
        border: none;
        width: 100px;
        height: 120px;
        margin-top: 14px;
        margin-bottom: 14px;
        margin: 5px;
    }

    .card__title {
        font-size: 16px;
        color: #183721;
        margin-left: 0;
        text-align: center;
    }

    .card__subtitle {
        font-size: 12px;
        color: #125726;
        margin-left: 0;
        text-align: center;
    }

    .card__body {
        padding: 0px;
    }

    .card__image {
        height: auto;
        margin-top: -5px;
        width: 175px;
        height: 100px;
    }

    .card__content {
        flex-direction: column;
        align-items: center;
        margin: 40px 20px;
        justify-content: space-around;
        width: 50px;
        height: 65px;
    }




}

@media (min-width: 576px) and (max-width: 767.98px) {

    /* Estilos para dispositivos entre 576px e 767.98px (small) */
    .card__content {

        margin: 40px 20px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    /* Estilos para dispositivos entre 768px e 991.98px (medium) */
    .card__content {
        flex-direction: column;
        align-items: center;
        margin: 40px 24px;
        justify-content: space-around;
        width: 130px;
        height: 65px;
    }

    .card-title {
        text-align: center;
    }

    .card__image {
        margin-right: -45px;

    }


}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Estilos para dispositivos entre 992px e 1199.98px (large) */
    /* Aqui você pode adicionar os estilos específicos para esse intervalo */
}

@media (min-width: 1200px) {
    /* Estilos para dispositivos maiores ou iguais a 1200px (extra large) */
    /* Aqui você pode adicionar os estilos específicos para esse intervalo */
}